{% extends 'base.html' %}
{%  block nav %}
    {% if request.user.is_authenticated %}
        {% for users in projects.users.all %}
            {% if perms.webapp.add_doings and  users == request.user %}
                <li class="nav-item">
                      <a class="nav-link" href="{% url 'webapp:project_doings_add' projects.pk %}">Task Add+</a>
                </li>
            {% endif %}
        {% endfor %}
    {% if perms.webapp.change_projects %}
        <li class="nav-item">
              <a class="nav-link" href="{% url 'webapp:project_update' projects.pk %}">Update Project</a>
        </li>
    {% endif %}
    {% if perms.webapp.delete_projects %}
        <li class="nav-item">
              <a class="nav-link" href="{% url 'webapp:project_delete' projects.pk %}">Delete Project</a>
        </li>
    {% endif %}
    {% endif %}
    {% for users in projects.users.all %}
        {% if perms.webapp.can_add_users and  users == request.user %}
            <li class="nav-item">
                  <a class="nav-link" href="{% url 'webapp:add_users' projects.pk %}">Change Users</a>
            </li>
        {% endif %}
    {% endfor %}

{%  endblock %}
{% block content %}

<h3>Project: {{ projects.name }}</h3>
    <h5>Description: {{ projects.description }}</h5>
    <p>Start: {{ projects.start_date }}</p>
    <p>End: {{ projects.end_date }}</p>
    <p>Users in Project: {% for users in projects.users.all %}<a style="color:black;" href="{%  url 'accounts:user_detail' users.pk %}">{{ users }}</a>{% if not forloop.last %} , {% endif %}{% endfor %}</p><hr/>
{% for doing in doings %}
    <h4>{{ doing.summary }}</h4>
    <p>{{ doing.description }}</p>
    <p>{{ doing.status }}</p>
    <p><a class="btn btn-dark" href="{% url 'webapp:doing_view' doing.pk %}">More...</a></p>
    {% if request.user.is_authenticated %}
        {% for users in projects.users.all %}
            {% if perms.webapp.change_doings and users == request.user %}
                <a class="btn btn-dark"  href="{% url 'webapp:doing_update' doing.pk %}">Edit</a>
            {% endif %}
            {% if perms.webapp.delete_doings and  users == request.user %}
                <a class="btn btn-dark" href="{% url 'webapp:doing_delete' doing.pk %}">Delete</a>
            {% endif %}
        {% endfor %}

    {% endif %}
    <hr>

{% endfor %}<br/>


{%  endblock %}